database.sqlite
database.sqlite-shm
database.sqlite-wal
database/*.sqlite
database/*.sqlite-shm
database/*.sqlite-wal
database/migrations/*.sqlite
database/test_*.sqlite
database/tests_*.sqlite
database/seeds/*.sqlite
database/factories/*.sqlite
database/.DS_Store
database/*.DS_Store
database/migrations/*.DS_Store
database/seeds/*.DS_Store
database/factories/*.DS_Store
database/.env
database/*.env
database/migrations/*.env
database/seeds/*.env
